<div class="container mt-5 mb-5" id="logo">
    <div class="row">
        <div class="col-lg d-flex justify-content-center">
            <img src="assets/img/neighboard-450px.png" alt="Neighborhood Party Hood">
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 main-container p-5">
            <h2 class="d-flex justify-content-center pb-3">Create a party</h2>

            <form class="create-form">

                <div class="form-group">
                    <label for="first-name"><h5>First Name:</h5></label>
                    <input type="text" id="first-name" name="first-name">
                </div>

                <div class="form-group">
                    <label for="last-name"><h5>Last Name:</h5></label>
                    <input type="text" id="last-name" name="last-name">
                </div>

                <div class="form-group">
                    <label for="party-name"><h5>What is the party name?</h5></label>
                    <input type="text" id="party-name" name="party-name">
                </div>

                <div class="form-group">
                    <label for="party-address"><h5>What is the address?</h5></label>
                    <input type="text" id="party-address" name="party-address">
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="date"><h5>Date:</h5></label>
                            <input type="date" id="date" name="date">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="start-time"><h5>Starting time:</h5></label>
                            <input type="time" id="start-time" name="start-time">
                        </div>
                        <div class="form-group">
                            <label for="end-time"><h5>Ending time:</h5></label>
                            <input type="time" id="end-time" name="end-time">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center pt-4">
                    <button id="submit-button" type="submit">ADD A PARTY!</button>
                </div>
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
<br/>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">

            <div class="row event-list">
                {{!-- {{#each Events}}
                        <li>
                            <h4>{{this.id}}. {{Parties.partyName}}</h4>
                            <p>{{Users.fname}}</p>
                            <p>{{Locations.address}}</p>
                            <p>Date: {{this.date}}</p>
                            <p>Start time: {{this.startTime}}</p>
                            <p>End time: {{this.endTime}}</p>
                        </li>
                {{/each}} --}}

                {{!-- <div class="col-lg-4 event-card">
                    <h4>Murder Mystery</h4>
                    <p class="event-card-name">by John Wick</p>
                    <p>Chicago</p>
                    <p>Date: 1/23/2021</p>
                    <div class="row">
                        <div class="col-6"><p>Start time: 12:30</p></div>
                        <div class="col-6"><p>End time: 3:30</p></div>
                    </div>
                    <div class="d-flex justify-content-center pt-4">
                        <button id="submit-enter-party" class="enter-party" type="submit">ENTER THE PARTY ></button>
                    </div>                    
                </div>

                <div class="col-lg-4 event-card">
                    <h4>Birthday</h4>
                    <p class="event-card-name">by Steevie Wonder</p>
                    <p>Moon</p>
                    <p>Date: 1/29/2021</p>
                    <div class="row">
                        <div class="col-6"><p>Start time: 12:30</p></div>
                        <div class="col-6"><p>End time: 3:30</p></div>
                    </div>   
                    <div class="d-flex justify-content-center pt-4">
                        <button id="submit-enter-party" class="enter-party" type="submit">ENTER THE PARTY ></button>
                    </div>    
                </div> --}}
            </div>
        </div>
    </div>
</div>